<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page"   routerLink="/home" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" >products</a>
        </li>
           <li class="nav-item">
          <a class="nav-link"  routerLink="/addProduct" >Add product</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acount
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">login</a></li>
            <li><a class="dropdown-item" href="#">Register</a></li>
      
          </ul>
        </li>
   
      </ul>

    </div>
  </div>
</nav> -->



<nav id="navbar-example2" class="navbar mydark px-3 mb-3 fixed-top">
  <a class="navbar-brand main fw-bolder" href="#">Restoran <i class="fa fa-utensils me-3"></i></a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a   class="nav-link" routerLink="/home" routerLinkActive="text-warning bg-light rounded-5">Home</a>
    </li>
    <li class="nav-item">
      <a   class="nav-link"  routerLink="/products" routerLinkActive="text-warning bg-light rounded-5">Product</a>
    </li>

      <li class="nav-item">
          <a class="nav-link text-w"  routerLink="/addProduct" routerLinkActive="text-warning bg-light rounded-5">Add product</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acount
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">login</a></li>
            <li><a class="dropdown-item" href="#">Register</a></li>
      
          </ul>

       <li class="nav-item">
      <a class="nav-link" >Menu</a>
    </li>
       <li class="nav-item">
      <a class="nav-link" >pages</a>
    </li>
       <li class="nav-item">
      <a class="nav-link" >Contact</a>
    </li>

    <button class="btn btn-warning">Book A Table</button>

  </ul>
</nav>