<div class="container w-75">
    <form action="">
        <div class="my-2 bg-info w-75 mx-auto">
            <label for="" class="fw-bold">Name :</label>
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>
        <div>
            <label for="" class="fw-bold">Name :</label>
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>
        <div>
            <label for="" class="fw-bold">Name :</label>
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>
        <div>
            <label for="" class="fw-bold">Name :</label>
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>



    </form>
</div>